<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> {{title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
  <style>
  </style>
</head>

<body>
<div style="width: 500px; margin: 0 auto; padding: 20px;">

  <div style="font-size: 28px; font-weight:400; margin-top:30px;"> {{header}}</div>


<div style="width: 496px; height: 220px; background-color: #F8FAFC; text-align: center; margin-top: 20px; margin-bottom: 20px; display: table;">
  <div style="display: table-cell; vertical-align: middle;">
    <img src="https://res.cloudinary.com/dzj0v4upp/image/upload/v1697798585/signed-contract_2_aa3etx.png" alt="illustration" style="display: inline-block;">
  </div>
</div>

  <div style="font-size: 16px; font-weight:500; margin-top:40px; color : #4C4C4C;">{{greeting}}{{user}} </div>

 <div>
    <p style="color : #4C4C4C;">{{message}} </p>
  </div>

  <div style="">
    <p style="margin: 0;">{{warning}}</p><span style="margin-left: 0;">{{supportEmail}}</span>
  </div>

  {{{footer}}}
</div>
</div>
</body>
</html>
