
<div style="max-width:500px;">

</div>

  <p style="margin-top: 35px; color :#4C4C4C;">{{haveQuestion}} <a href="#" style="color : #0E84E5; font-size:16px; font-weight:400;">{{supportEmail}}</a> </p>

<div>
  <div style="margin-top: 35px; color :#4C4C4C;"> {{warmRegards}} </div>
  <div style="margin-top: 20px; font-weight: bold; color :#4C4C4C;">{{storebridgerTeam}}</div>
</div>
<div
  style="background-color: #252D33; margin-top: 80px; width: 496px; height: auto; padding: 20px; border-top-left-radius: 40px; border-top-right-radius: 40px; text-align: center;">
  <div style="margin-top: 20px; color: #FFFFFF;">{{followUs}}</div>
  <div style="margin-top: 20px;">
    <img src="https://res.cloudinary.com/dzj0v4upp/image/upload/v1694364713/Vector_ltlsyi.png" alt=""
         style="width: 18px; height: 14.95px; margin: 0 5px;">
    <img src="https://res.cloudinary.com/dzj0v4upp/image/upload/v1694364713/linkedin_1_dh5gny.png" alt=""
         style="width: 18px; height: 14.95px; margin: 0 5px;">
    <img src="https://res.cloudinary.com/dzj0v4upp/image/upload/v1694364713/instagram_1_guaxjn.png" alt=""
         style="width: 18px; height: 14.95px; margin: 0 5px;">
  </div>
  <div style="margin-top: 20px;"><a style="color: #FFFFFF;" href={{ourBlog}}>{{ourBlogLink}}</a></div>
  <hr style="width: 100%; margin: 10px 0; margin-top: 20px; border-color: #716f6f;">

  <p style="margin-top: 25px; color: #FFFFFF;">{{didYouReceive}}</p>
  <div style="margin-top: 35px; color: #716f6f;">{{copyRight}}</div>
</div>




